[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
polars = "*"
twilio = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"

[dev-packages]
ipykernel = "*"
matplotlib = "*"
pandas = "*"

[requires]
python_version = "3.13"
